.desktop-shortcuts {
  width: 300px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 50px);
  align-items: flex-start;
  justify-content: flex-start;
}
.desktop-shortcuts .app-icon {
  font-size: 70px;
  /* cursor: ; */
  padding: 10px;
}
.desktop-shortcuts .app-icon:hover {
  background: rgba(255, 255, 255, 0.158);
  border-radius: 5px;
}
.desktop-shortcuts .portfolio-icon {
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;

  height: 60px;
  width: 60px;
  text-align: center;

  border-radius: 50%;
  border: 2px solid rgb(94, 70, 180);
}
.desktop-shortcuts .portfolio-icon .icon {
}
