.weather-widget{
  position: fixed;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(50px);
  padding: 10px;
  max-width: 300px;
  width: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  user-select: none;
  font-size: 1.2em;
  transform: translate(-50%,-50%);
}
input{
  background: rgba(0, 0, 0, 0.425);
  border:none;
  border-radius: 15px;
  padding: 10px;
  outline: none;
  color: white;
}
input::placeholder{
  color: white;
}
img{
  pointer-events: none;
  user-select: none;
}