.taskbar{
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur( 20px );
  bottom: 0;
  display: flex;
  align-items: center;
  /* padding: 5px; */
  justify-content: center;
  padding-bottom: 0;
  z-index: 1000;
}
.start-btn{
  color: rgb(0, 0, 0);
  font-size: 50px;
}
.start-btn:hover{
  color: rgb(255, 255, 255);
}
.right{
  display: flex;
  position: absolute;
  right: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.battery{
  font-size: 2em;
  color: green;
}
.weather{
  position: relative;
  cursor: url('../../cursors/Link Select.cur'), auto;
}
.weather h3{
  position: absolute;
  left: -15px;
  bottom: 5px;
  font-weight: bolder;
}
.weather img{
  height: 50px;
}
.active-tasks{
  position: absolute;
  left: 25px;
  font-size: 2em;
  display: flex;
  /* gap: 15px; */
}
.task-grp{
  position: relative;
  display: flex;
  margin-right: 15px;
}
.active-tasks .task{
  box-sizing: unset;
  padding: 5px 5px;
  background: rgb(199, 199, 199);
}
.active-tasks .task:hover{
  background: rgb(255, 255, 255);
}
.active-tasks .task-grp span{
  position: fixed;
  top: -10px;
  background: black;
  color: white;
  font-size: 15px;
  z-index: 1;
  padding: 2px 3px;
  border-radius: 3px;
  visibility: hidden;
}
.active-tasks .task-grp:hover span{
  visibility: visible;
}