.taskbar{
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur( 20px );
  bottom: 0;
  display: flex;
  align-items: center;
  /* padding: 5px; */
  justify-content: center;
  padding-bottom: 0;
}
.start-btn{
  color: rgb(234, 0, 255);
  cursor: pointer;
  font-size: 50px;
}