.taskbar{
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur( 20px );
  bottom: 0;
  display: flex;
  align-items: center;
  /* padding: 5px; */
  justify-content: center;
  padding-bottom: 0;
  z-index: 1000;
}
.start-btn{
  color: rgb(0, 0, 0);
  font-size: 50px;
}
.start-btn:hover{
  color: rgb(255, 255, 255);
}
.right{
  display: flex;
  position: absolute;
  right: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.battery{
  font-size: 2em;
  color: green;
}
.weather{
  position: relative;
  cursor: url('../../cursors/Link Select.cur'), auto;
}
.weather h3{
  position: absolute;
  left: -15px;
  bottom: 5px;
  font-weight: bolder;
}
.weather img{
  height: 50px;
}
.active-tasks{
  position: absolute;
  left: 25px;
  display: flex;
  gap: 15px;
  font-size: 2em;
}
.active-tasks .task{
  box-sizing: unset;
  padding: 5px 5px;
  background: rgb(134, 134, 134);
}