.spotify {
  position: fixed;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  height: 550px;
  max-width: 1200px;
  width: 100%;
  background: #181818;
  border-radius: 25px 25px 0 0;
  --c-main: #000000;
  --c-sec: #181818;
  --c-accent: #1db853;
  overflow: hidden;
}
@font-face {
  font-family: Gotham;
  src: url("../../fonts/Gotham\ Medium.otf");
}
.spotify-main {
  font-family: Gotham;
  margin-top: 30px;
  padding: 20px;
  padding-right: 0;
  color: white;
  position: relative;
  height: 100%;
}
.spotify-header {
  z-index: 9;
}
.spotify-main .sidebar {
  position: fixed;
  top: 30px;
  padding: 20px;
  left: 0;
  width: 250px;
  background: #000000;
  height: calc(100% - 30px);
  z-index: 5;
}
.spotify-main .spotify-icon {
  font-size: 40px;
}
.spotify-main .sidebar .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.spotify-main .sidebar .link-menu {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.spotify-main .sidebar .link-menu .link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 100;
  color: rgb(153, 153, 153);
  transition: 0.3s ease;
}
.spotify-main .sidebar .link-menu .link.active {
  font-weight: 800;
  color: white;
}
.spotify-main .sidebar .link-menu .link:hover {
  color: white;
}
.spotify-main .sidebar .link-menu .link .link-icon {
  font-size: 25px;
}

/* Bottom controls */
.spotify-main .bottom {
  width: 100%;
  height: 80px;
  background: #181818;
  position: fixed;
  bottom: 0;
  transform: translateX(-20px);
  box-shadow: inset 0 0.8px 0 white;
  z-index: 6;
}

/* Main field */
.spotify-main .feed {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding: 50px 0 100px 250px;
}
.spotify-main .feed::-webkit-scrollbar {
  width: 15px;
}
.spotify-main .feed::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.466);
}
.spotify-main .feed .topnav {
  position: fixed;
  top: 30px;
  left: 0px;
  height: 105px;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(34, 136, 73, 0.1),
    rgba(34, 136, 73, 0.5)
  );
  z-index: 2;
}
