.spotify {
  position: fixed;
  z-index: 13;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  height: 550px;
  max-width: 1200px;
  width: 100%;
  background: #181818;
  border-radius: 25px 25px 0 0;
  --c-main: #000000;
  --c-sec: #181818;
  --c-accent: #1db853;
  overflow: hidden;
}
@font-face {
  font-family: Gotham;
  src: url("../../fonts/Gotham\ Medium.otf");
}
.spotify-main {
  font-family: Gotham;
  margin-top: 30px;
  /* padding: 20px; */
  padding-right: 0;
  color: white;
  position: relative;
  height: 100%;
}
.spotify-header {
  z-index: 9;
}
.spotify-main .sidebar {
  position: fixed;
  top: 30px;
  padding: 20px;
  left: 0;
  width: 250px;
  background: #000000;
  height: calc(100% - 30px);
  z-index: 5;
}
.spotify-main .spotify-icon {
  font-size: 40px;
}
.spotify-main .sidebar .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.spotify-main .sidebar .link-menu {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.spotify-main .sidebar .link-menu .link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 100;
  color: rgb(153, 153, 153);
  transition: 0.3s ease;
}
.spotify-main .sidebar .link-menu .link.active {
  font-weight: 800;
  color: white;
}
.spotify-main .sidebar .link-menu .link:hover {
  color: white;
}
.spotify-main .sidebar .link-menu .link .link-icon {
  font-size: 25px;
}
.spotify-main .sidebar .ops {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 25px;
}
.spotify-main .sidebar .ops .ops-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.spotify-main .sidebar .ops .ops-item .add-icon {
  height: 25px;
  width: 25px;
  background: white;
  color: black;
  padding: 5px;
}

/* Bottom controls */
.spotify-main .bottom {
  width: 100%;
  height: 80px;
  background: #181818;
  position: fixed;
  bottom: 0;
  transform: translateX(-20px);
  box-shadow: inset 0 0.8px 0 white;
  z-index: 6;
}

/* Main field */
.spotify-main .feed {
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding: 50px 0 100px 250px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.spotify-main .feed::-webkit-scrollbar {
  width: 15px;
}
.spotify-main .feed::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.466);
}
.spotify-main .feed .topnav {
  position: fixed;
  top: 30px;
  left: 0px;
  height: 70px;
  width: 100%;
  background: transparent;
  padding: 40px 20px 40px 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.spotify-main .feed .topnav.scrolled {
  background: #216338;
}
.spotify-main .feed .topnav .left {
  display: flex;
  gap: 10px;
  color: rgb(122, 122, 122);
  font-size: 30px;
  cursor: url("/src/cursors/Normal Select.cur"), auto;
}
.spotify-main .feed .topnav .right {
  background: #000;
  border-radius: 25px;
  padding: 5px;
  padding-right: 15px;
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateX(-20px);
}
.spotify-main .feed .topnav .right img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.spotify-main .feed .top-overlay {
  position: absolute;
  height: 200px;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to top,
    rgba(29, 184, 83, 0),
    rgba(29, 184, 83, 0.452)
  );
  transform: translateY(-10px);
  z-index: -1;
}
.spotify-main .feed .daily-mix {
  margin-top: 50px;
  padding: 10px;
  padding-bottom: 50px;
}
.spotify-main .feed .daily-mix .mixes {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 80px;
  gap: 20px;
}
.spotify-main .feed .daily-mix .mixes .single-item {
  height: 100%;
  width: 100%;
  background: rgba(94, 94, 94, 0.459);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.spotify-main .feed .daily-mix .mixes .single-item .item-right {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 10px;
}
.spotify-main
  .feed
  .daily-mix
  .mixes
  .single-item
  .item-right
  .play-pause-icon {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background: var(--c-accent);
}
.spotify-main .feed .daily-mix .mixes .single-item img {
  height: 100%;
  width: 90px;
}
