@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "google";
  src: url("../../fonts/Product Sans Regular.ttf");
}

:root {
  ---google-background: #fff;
  ---google-border: #dfe1e5;
  ---goole-colors: #202124;
  ---google-button-bg: #f8f9fa;

  --google-blue: #4285f4;
  --google-red: #db4437;
  --google-green: #0f9d58;
  --google-orange: #f4b400;
}

.browser {
  background: var(---google-background);
  color: var(---goole-colors);
  width: 100%;
  height: 530px;
  max-width: 900px;

  border-radius: 5px;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
}

.search-engine {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;

  margin-top: 30px;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.search-engine h2 {
  font-family: google;
  font-size: 5rem;
  letter-spacing: 5px;
}

/* Hero Icon */
.search-engine h2 span:first-child {
  color: var(--google-blue);
}
.search-engine h2 span:nth-child(2) {
  color: var(--google-red);
}
.search-engine h2 span:nth-child(3) {
  color: var(--google-orange);
}
.search-engine h2 span:nth-child(4) {
  color: var(--google-blue);
}
.search-engine h2 span:nth-child(5) {
  color: var(--google-green);
}
.search-engine h2 span:nth-child(6) {
  color: var(--google-red);
}

/* Title */

/* Buttons */
.search-engine .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 2.5rem;
}
.search-engine .buttons button {
  background: var(---google-button-bg);
  font-size: 1rem;

  padding: 0.7em;
  border: 1px solid var(---google-border);
  border-radius: 5px;
}
.search-engine .buttons button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.search-engine .covid {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
.search-engine .covid a {
  color: #1a0dab;
}
.search-engine .language {
  margin-top: 25px;
  font-size: 0.9rem;
}
.search-engine .top-nav {
  position: absolute;
  top: 15px;
  right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 15px;
}
/* logo */
.search-engine .top-nav .search-logo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: inherit;
  width: 100%;
}
.search-engine .top-nav .opts {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.opts > h4 {
  font-size: 1rem;
  font-weight: 400;
}

.opts > h4:hover {
  border-bottom: 2px solid rgb(49, 49, 49);
}

.searchbox-top {
  width: 55%;
  height: 50px;

  padding: 0.5rem;
  margin-left: 1.5rem;
  border: 1px solid var(---google-border);
  border-radius: 32px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searchbox-top > input {
  background: transparent;
  font-size: 1.2rem;

  color: black;
  width: 80%;
  height: inherit;
  border: none;
  outline: none;
}

.searchbox-top > .boggle-mic {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.search-engine h4 span:first-child {
  color: var(--google-blue);
  font-size: 2rem;
}
.search-engine h4 span:nth-child(2) {
  color: var(--google-red);
  font-size: 2rem;
}
.search-engine h4 span:nth-child(3) {
  color: var(--google-orange);
  font-size: 2rem;
}
.search-engine h4 span:nth-child(4) {
  color: var(--google-blue);
  font-size: 2rem;
}
.search-engine h4 span:nth-child(5) {
  color: var(--google-green);
  font-size: 2rem;
}
.search-engine h4 span:nth-child(6) {
  color: var(--google-red);
  font-size: 2rem;
}

.input-container {
  width: 55%;
  height: 50px;

  padding: 0.5rem;
  margin-top: 1rem;

  border: 1px solid var(---google-border);
  border-radius: 32px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-container > input {
  background: transparent;
  font-size: 1.2rem;

  color: black;
  width: 80%;
  height: inherit;

  border: none;
  outline: none;
}

.input-container > img {
  cursor: pointer;
}

.input-container > .boggle-mic {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/* Search Engine inside */
.search-engine .top-nav .searchbox-top input::placeholder {
  color: #c9c9c9;
}
.icons {
  position: absolute;
  right: 10px;
  font-size: 20px;
  display: flex;
  gap: 8px;
}
.search-engine #profile-image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.search-engine .search-results {
  position: absolute;
  background: var(---google-background);
  height: 85%;
  width: 100%;
  bottom: 0;
  overflow: auto;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.search-engine #search-close {
  border: 1px solid black;
  position: absolute;
  right: 0;
  width: 50px;
}

.search-engine .search-results .result-card {
  margin: 10px 0 30px 0px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateX(20%);
}

.result-card > p {
  font-size: 0.9rem;
}

.result-card > a {
  font-size: 1.2rem;
}

.search-engine .search-results .result-card .snippet {
  color: #303030;
}
