.browser{
  position: fixed;
  z-index: 6;
  max-width: 900px;
  width: 100%;
  height: 530px;
  background: rgb(228, 228, 228);
  border-radius: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.search-engine{
  margin-top: 30px;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@font-face{
  font-family: 'google';
  src: url('../../fonts/Product Sans Regular.ttf');
}
.search-engine h2{
  font-family: google;
  font-size: 5rem;
  letter-spacing: 5px;
}
.search-engine input{
  width: 60%;
  margin-top: 15px;
}
.search-engine h2 span:first-child{
  color: rgb(42, 42, 196);
}
.search-engine h2 span:nth-child(2){
  color: rgb(192, 42, 42);
}
.search-engine h2 span:nth-child(3){
  color: rgb(194, 194, 34);
}
.search-engine h2 span:nth-child(4){
  color: rgb(43, 43, 177);
}
.search-engine h2 span:nth-child(5){
  color: rgb(43, 175, 43);
}
.search-engine h2 span:nth-child(6){
  color: rgb(185, 42, 42);
}
.search-engine .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
.search-engine .buttons button{
  border: none;
  font-size: 1.1rem;
  padding: 10px;
  background: rgb(216, 216, 216);
}
.search-engine .buttons button:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
.search-engine .covid{
  margin-top: 10px;
  font-size: 1.1rem;
}
.search-engine .covid a{
  color: rgb(47, 0, 255);
}
.search-engine .language{
  margin-top: 25px;
}
.search-engine .top-nav{
  position: absolute;
  top: 15px;
  right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 15px;
}
.search-engine .top-nav .opts{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.search-engine .top-nav .searchbox-top{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
.search-engine .top-nav .searchbox-top input{
  width: 100%;
  margin: 0;
  background: rgb(228, 228, 228);
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}
.search-engine .top-nav .searchbox-top input::placeholder{
  color: #000;
}
.search-engine .top-nav .searchbox-top .icons{
  position: absolute;
  right: 10px;
  font-size: 20px;
  display: flex;
  gap: 8px;
}
.search-engine #profile-image{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.search-engine .search-results{
  position: absolute;
  background: rgb(228, 228, 228);
  height: 85%;
  width: 100%;
  bottom: 0;
  overflow: auto;
  padding: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}
.search-engine #search-close{
  position: absolute;
  right: 0;
  width: 50px;
}