.power-btn {
  position: relative;
  height: 40px;
  width: 40px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
}
.power {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
