.user-login {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./login-bg.jpg) center;
  z-index: 999;
  display: grid;
  place-items: center;
  transition: 1.5s linear;
}
.logged {
  visibility: hidden;
  opacity: 0;
}
.user-login form {
  transform: translateY(-50px);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(150px);
  padding: 55px;
  max-width: 500px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  gap: 10px;
}
.user-login form input,
.input-cont {
  width: 100%;
}
.user-login form button {
  width: 200px;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;
  /* border-radius: 25px; */
  background: rgb(35, 7, 39);
  border: none;
  color: #fff;
  cursor: url("../../cursors/Link Select.cur"), auto;
  outline: 2px solid #fff;
  border-radius: 25px;
}
.user-icon {
  /* font-size: 4em; */
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 3px solid white;
}
.login-widget {
  position: absolute;
  right: 50px;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 2em;
  display: flex;
  gap: 20px;
  align-items: flex-end;
}
.login-time {
  font-size: 1.5em;
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  padding: 5px;
}
.login-time p {
  font-size: 0.5em;
}
