*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  min-height: 100vh;
  background: url('./img/desktop-bg.jpg') center;
  background-size: cover;
}
.desktop{
  height: calc(100vh - 67px);
  
}