@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  cursor: url("./cursors/Normal Select.cur"), auto;
  font-family: "Open Sans Condensed", sans-serif;
  overflow: hidden;
  user-select: none;
}
@font-face {
  font-family: digital;
  src: url(./fonts/digital-7.ttf);
}
main {
  min-height: 100vh;
  background: url("./img/desktop-dark.jpg") center;
  background-size: cover;
}
.desktop {
  height: calc(100vh - 67px);
  padding: 20px;
}
.click-btn {
  cursor: url("./cursors/Link Select.cur"), auto;
}
p {
  font-size: 1em;
}
.close-btn {
  font-size: 1.2em;
  color: rgb(206, 34, 34);
  cursor: url("./cursors/Link Select.cur"), auto;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 15px 15px 0 0;
  user-select: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
